<div class="container">
  <div *ngIf="hideIntro"class="row center">
    <div class="col s12"><h1>Ego = Enemy</h1></div>
    <div class="col s12"><h2>Far too often, our egos get the best of us. During these times, simple reminders can help shift focus, regain mindfullness, and put ego in its place.</h2></div>
    <div class="col s12"><h3>Check your ego.</h3></div>
    <div class="center col s12" (click)="egoCheck()"><a class="waves-effect waves-light btn-large">EgoCheck</a></div>
  </div>
  <div *ngIf="!hideIntro" class="row center">
    <div class="col s12"><h1>Quote:</h1></div>
    <div class="col s12"><h2>"{{(quoteToDisplay | async)?.quote}}"</h2></div>
    <div class="col s12"><h4>-{{(quoteToDisplay | async)?.author}}</h4></div>
    <div class="col s12"><h5>(Holiday, {{(quoteToDisplay | async)?.page}})</h5></div>
    <div class="center col s12" (click)="newQuote()"><a class="waves-effect waves-light btn-large">EgoCheck</a></div>
  </div>
</div>
